.App {
  display: flex;
  justify-content: center;
}

.form form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.form form p input{
  height: 30px;
  font-size: 20px;
}

.form form .create{
  display: flex;
  justify-content: center;
  width: 100%;
}

.form form .create input{
  padding: 5px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: blue;
  box-shadow: 3px 3px 3px rgb(111, 111, 111);
  color: white;
}

.form form .create input:hover {
  background-color: rgb(2, 2, 205);
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 20px;
  font-size: 20px;
}

.details {
  font-size: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.delete button{
  background-color: red;
  box-shadow: 3px 3px 3px rgb(111, 111, 111);
  font-size: 15px;
  color: white;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete button:hover{
  background-color: rgb(193, 0, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
